@font-face {
  font-family: "courgette", serif;
  src: url(../fonts/courgette/Courgette-Regular.ttf);
}
@font-face {
  font-family: "Kalam", serif;
  src: url(../fonts/Kalam/Kalam-Regular.ttf);
}
@font-face {
  font-family: "Itim", serif;
  src: url(../fonts/Itim/Itim-Regular.ttf);
}
@font-face {
  font-family: "Lateef", serif;
  src: url(../fonts/Lateef/Lateef-Regular.ttf);
}
@font-face {
  font-family: "Amiri", serif;
  src: url(../fonts/Amiri/Amiri-Regular.ttf);
}
