*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--font2);
  font-size: 10px;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(../images/main-background.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}
.fullmenu {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(../images/main-background.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* fonts */
:root {
  --font1: "courgette", serif;
  --font2: "Kalam", serif;
  --font3: "Itim", serif;
}
/* fonts */
/* content */
.main-content {
  font-family: var(--font3);
  font-size: 1.7rem;
  color: #eeeeee;
  width: 90%;
  margin: 10% 2rem;
}
h3 {
  margin-left: 0;
  font-size: 1.59rem;
}
h3 a {
  text-decoration: line-through;
  color: #dc143c;
}
.os {
  height: 30px;
  width: auto;
}
.content p {
  margin: 1rem 0;
  margin-left: 5em;
  font-size: 3rem;
  font-weight: bold;
  font-style: oblique;
  font-family: var(--font1);
}
p span {
  color: crimson;
}
/* content */
/* media */
@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 6.5px;
  }
}
@media screen and (max-width: 1300px) {
  body,
  .fullmenu {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/main-background-m.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 500px) {
  .hide {
    display: none;
  }
}
/* media */
