/* fonts */
:root {
  --font1: "Courgette";
  --font2: "Kalam";
  --font3: "Itim";
  --font4: "Patrick Hand", cursive;
}
/* fonts */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}
body {
  font-family: var(--font2);
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(../images/latest-background.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  overflow-y: auto;
}
.fullmenu {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(../images/latest-background.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* content */
main {
  margin: 8rem auto;
  width: 80%;
  margin-bottom: 16rem;
  padding-top: 1em;
  font-size: 1.7rem;
  font-family: var(--font3);
  align-items: center;
  justify-content: center;
}
main h1 {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 2.1rem;
  color: #eeeeee;
}
main h1 span {
  color: crimson;
  text-transform: capitalize;
  font-family: var(--font2);
}
.mammals-cards,
.insects-cards {
  margin-top: 7rem;
}
.mammals-cards h1,
.insects-cards h1 {
  color: #c3bdb6;
  margin: 1rem;
  font-family: var(--font1);
}
.animals-card,
.owl-carousel,
.owl-theme {
  margin: 0 auto;
  margin-top: 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 22rem));
  grid-gap: 2rem;
  height: auto;
  justify-content: center;
}
.card {
  overflow: hidden;
  box-shadow: 3px 1px 12px 0px rgba(0, 0, 0);
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.7s ease-in;
  width: clamp(30ch, 30% 60ch);
  position: relative;
  padding-top: 2rem;
  background-color: #1a1919d5;
  margin-bottom: 3rem;
  margin-top: 1rem;
  height: 38rem;
}
.card:hover {
  box-shadow: 3px 1px 12px 0px rgba(0, 0, 0);
  transform: scale(1.08);
}
.card-img {
  height: 14.5rem;
  width: 100%;
  padding: 0 0.5rem;
}
.insects-cards img {
  padding: 0.5rem 2rem;
}
.card-tittle {
  padding: 1em;
  font-size: 1.97rem;
  color: crimson;
  height: 5.2rem;
  overflow: hidden;
}
.card-tittle span {
  display: none;
  font-size: 0.8em;
}
.card-tittle:hover span {
  display: inline;
}
.card-description {
  padding: 0 1.5rem;
  padding-bottom: 0.5em;
  color: #eeeeee;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 200;
  height: 6rem;
  font-family: var(--font3);
}
.card-btn {
  width: 100%;
  margin-top: 1em;
  padding: 1em;
  background-color: crimson;
  color: #eeeeee;
  border-radius: 20%;
  border: 1em;
  cursor: pointer;
}
.card-btn:hover {
  background-color: #eeeeee;
  color: crimson;
}
/* content */
/* colors */
/* honey badger */
.honey-badger:hover h2 {
  background: linear-gradient(to top, #282527, #c3bdb6);
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 1px;
  -webkit-text-fill-color: transparent;
}
/* honey badger */
/* cheetah */
.cheetah:hover h2 {
  background: linear-gradient(to top, #e8c1a2, #a8733a);
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 1px;
  -webkit-text-fill-color: transparent;
}
/* cheetah */
/* secretary bird */
.secretary-bird:hover h2 {
  background: rgb(19, 20, 16);
  background: linear-gradient(
    312deg,
    rgba(0, 0, 0, 1) 11%,
    rgba(198, 201, 200, 1) 72%,
    rgba(158, 58, 23, 1) 97%
  );
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 1px;
  -webkit-text-fill-color: transparent;
}
/* secretary bird */
/* insects */
/* mantis */
.mantis:hover h2 {
  letter-spacing: 1px;
  background: linear-gradient(to top, #b2da6d, #3d6e2f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* mantis */
/* black widow */
.black-widow:hover h2 {
  letter-spacing: 1px;
  background: rgb(42, 37, 33);
  background: linear-gradient(
    0deg,
    rgba(42, 37, 33, 1) 10%,
    rgba(156, 39, 14, 1) 50%,
    rgba(42, 37, 33, 1) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* black widow */
/* insects */
/* colors */
/* media */
@media screen and (max-width: 700px) {
  html {
    font-size: 9px;
  }
  .card-description {
    height: 10.5rem;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 7.3px;
  }
}
@media screen and (max-width: 1050px) {
  .card {
    height: 40rem;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 14px;
  }
  .card {
    height: 38rem;
  }
}
@media screen and (max-width: 2400px) {
  body,
  .fullmenu {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/latest-background-l.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media screen and (max-width: 1300px) {
  body,
  .fullmenu {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/latest-background-m.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media screen and (max-width: 600px) {
  .animals-card {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 26rem));
    grid-gap: 2rem;
    margin-bottom: 15rem;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  body,
  .fullmenu {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/latest-background-ss.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media screen and (max-width: 500px) {
  .hide {
    display: none;
  }
}
/* media */
