@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Courgette&family=Itim&family=Kalam:wght@300;400;700&family=Lateef&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");
/* font5 */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@font-face {
  font-family: "Courgette", cursive;
  src: url(../fonts/courgette/Courgette-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "Kalam", cursive;
  src: url(../fonts/Kalam/Kalam-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "Kalam", cursive;
  font-weight: 300;
  src: url(../fonts/Kalam/Kalam-Light.ttf) format(ttf);
}
@font-face {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: oblique;
  src: url(../fonts/Kalam/Kalam-Bold.ttf) format(ttf);
}
@font-face {
  font-family: "Itim", cursive;
  src: url(../fonts/Itim/Itim-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "Lateef", serif;
  src: url(../fonts/Lateef/Lateef-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "Amiri", serif;
  src: url(../fonts/Amiri/Amiri-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "Patrick Hand", cursive;
  src: url(../fonts/Patrick_Hand/Patrick_Hand-Regular.ttf) format(ttf);
}
