*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--font1);
  font-size: 10px;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.45)),
    url(/mammals/images/cheetah/cheetah-background.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.section a {
  color: #bb2205;
  text-decoration: underline;
}
.owl-carousel .item-video {
  height: 400px;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  display: inline-block;
}

.owl-dot span {
  width: 31px;
  height: 31px;
  background: #bb2205;
  border-radius: 50%;
  display: block;
  margin: 5px 3px;
}

.owl-dot.active span {
  background-color: #000;
}

/* fonts */
:root {
  --font1: "Courgette";
  --font2: "Kalam";
  --font3: "Itim";
  --font4: "Patrick Hand", cursive;
  --font5: "Comic Neue", cursive;
}
/* fonts */
/* content */
.main-and-footer {
  margin-top: 5rem;
  margin-bottom: 15rem;
}
/* list */
.gotosection {
  font-size: 3rem;
  display: grid;
  justify-content: center;
  margin: 1rem auto;
  margin-bottom: 5rem;
}
.gotosection a {
  color: #ffa36c;
  text-decoration: underline;
}
/* list */
/* content */
.section {
  font-family: var(--font3);
  font-size: 1.7rem;
  color: #eeeeee;
  width: 90%;
  margin: 4rem 5rem;
}
.section .tittle {
  color: #dc143c;
  font-size: 2.7rem;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}
.tittle h6 {
  color: #4fcc13;
}
.section .content {
  margin: 3rem 2%;
  font-size: 2.2rem;
  font-family: var(--font5);
}
.section .content p {
  width: 95%;
  margin-top: 1.5rem;
}
.section .content p span {
  color: #50d890;
  text-transform: capitalize;
}
.content sup {
  font-size: 1.3rem;
  position: relative;
  right: 6px;
  top: 3px;
}
.sources a,
.visual a {
  font-size: 2.5rem;
  text-decoration: double;
  color: #edcfa9;
  font-family: var(--font2);
}
.visual a {
  color: #ffa36c;
}
.twelve-section {
  margin-bottom: 15rem;
}
/* content */
/* info */
.info {
  display: flex;
  background-image: linear-gradient(#1a1c20e8, #1a1c20d8),
    url(/mammals/images/cheetah/cheetah-s1.webp);
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2rem;
  font-family: var(--font3);
  color: #eeeeee;
  width: 100%;
  min-width: 500px;
  padding: 2rem;
  margin: 0 auto;
  max-height: 60rem;
  border-radius: 10%;
}
.infor {
  margin-right: auto;
}
.first-img {
  position: relative;
}
.first-img img {
  max-height: 40rem;
}
.info h4 {
  letter-spacing: 1px;
  text-transform: capitalize;
}
.border-bottom {
  padding-bottom: 2rem;
  border-bottom: #424449 solid 3px;
}
h4 span {
  color: #edcfa9;
}
.info h4 span {
  letter-spacing: 0;
  font-family: var(--font5);
}
.padding-top {
  padding: 0 1rem;
  padding-top: 2rem;
}
.padding-top span {
  color: #4fcc13;
}
.padding-top .red,
.border .red {
  letter-spacing: 1px;
  color: #bb2205;
  font-family: var(--font3);
}
.border {
  padding-left: 1rem;
  padding-bottom: 2rem;
  border-bottom: #424449 solid 3px;
}
.border .red {
  color: #a4b787;
}
.border span {
  color: #bb2205;
}
.border i {
  position: relative;
  top: 3px;
  right: 4px;
}
/* info */
.top {
  cursor: pointer;
  /* text-indent: -9999px; */
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
.top a {
  color: #eeeeee;
}
.top i {
  position: fixed;
  bottom: 7%;
  right: 3%;
  font-size: 3.5rem;
}
#scroll:hover {
  opacity: 0.8;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
/* content */
/* media */

@media screen and (max-width: 2400px) {
  body,
  .fullmenu {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.76), #1a1c20),
      url(/mammals/images/cheetah/cheetah-background-l.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1300px) {
  body,
  .fullmenu {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.76), #1a1c20),
      url(/mammals/images/cheetah/cheetah-background-m.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1140px) {
  main {
    display: block;
  }
  .full-content {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 1000px) {
  .info {
    background-image: linear-gradient(#1a1c209c, #1a1c2093),
      url(/mammals/images/cheetah/cheetah-s1.webp);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .first-img {
    display: none;
  }
  .genus img {
    width: 98%;
  }
  .conservation img {
    width: 100%;
  }
  .habitat img {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  body,
  .fullmenu {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.76), #1a1c20),
      url(/mammals/images/cheetah/cheetah-background-s.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  html {
    font-size: 8px;
  }
  .info {
    min-width: 100%;
    padding-right: 0;
  }
  .gotosection {
    margin: 5% 2%;
  }
  .gotosection ul {
    margin: 4% 5%;
  }
  .section {
    width: 99%;
    margin: 4rem 0rem;
    margin-left: 2rem;
  }
  .genus img {
    width: 98%;
  }
  .diet img {
    width: 100%;
  }
  .habitat img {
    width: 100%;
  }
  .homes img {
    width: 100%;
  }
  .behavior img {
    width: 100%;
  }
  .conservation img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  body,
  .fullmenu {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.76), #1a1c20),
      url(/mammals/images/honey-badger/honey-badger-background-ss.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .hide {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 6.5px;
  }
}
@media screen and (max-width: 300px) {
  .margin-left {
    font-size: 3rem;
    line-height: 3rem;
    margin-left: 10rem;
  }
}
/* media */
