*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--font3);
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(../images/main-background.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  overflow-y: auto;
}

.fullmenu {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(../images/main-background.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* fonts */
:root {
  --font1: "Lateef", cursive;
  --font2: "Kalam", cursive;
  --font3: "Amiri", cursive;
}
/* fonts */
/* content */
.main-content {
  font-family: var(--font1);
  font-size: 1.7rem;
  color: #eeeeee;
  width: 100%;
  margin: 10% 2rem;
  padding: 2em 0;
  margin-right: 0;
  padding: 2em;
  font-style: oblique;
}
h3 {
  margin-right: 1em;
  font-size: 1.59rem;
}
h3 a {
  text-decoration: line-through;
  color: #dc143c;
}
.os {
  height: 30px;
  width: auto;
}
.content p {
  margin: 1rem 0;
  margin-right: 3em;
  font-size: 3rem;
  font-weight: bold;
  font-style: oblique;
}
p span {
  color: crimson;
}
/* content */
/* media */
@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 6.5px;
  }
}

@media screen and (max-width: 1300px) {
  body,
  .fullmenu {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/main-background-m.webp);
  }
}
@media screen and (max-width: 500px) {
  .hide {
    display: none;
  }
}
/* media */
