*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  scrollbar-width: thin;
  scrollbar-color: crimson #eeeeee;
}
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: #eeeeee;
}
*::-webkit-scrollbar-thumb {
  background-color: #dc143c;
  border-radius: 30%;
}
html {
  font-family: var(--font3);
  font-size: 10px;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(../images/sources-background.webp);
  background-position: center left;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  overflow-y: visible;
}
.fullmenu {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(../images/sources-background.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* fonts */
:root {
  --font1: "Lateef", serif;
  --font2: "Kalam", serif;
  --font3: "Amiri", serif;
  --font4: "Markazi Text", serif;
  --font5: "Tajawal", sans-serif;
}
/* fonts */
/* main varibbals */
a {
  font-size: 1.15em;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  color: #4fcc13;
}
/* main varibbals */
/* content */

.full-content {
  font-family: var(--font4);
  width: 95%;
  font-size: 1.8rem;
  color: #eeeeee;
  margin: 10% 2em;
  margin-bottom: 1rem;
  margin-right: 0;
  padding: 2em;
}
h1 {
  font-size: 3rem;
  width: 80%;
}
h2 {
  color: #4fcc13;
}
h3 {
  font-size: 1.1em;
}
.main-content ul {
  display: grid;
  width: 90%;
}
h4 {
  font-size: 1.1em;
  margin-right: 0.3em;
}
.main-content li {
  margin: 1em auto;
  margin-right: 1em;
  list-style-type: decimal;
}
.main-content li a {
  font-size: 1.16em;
  color: #dc143c;
  font-family: var(--font2);
}
ul:last-child {
  margin-bottom: 1em;
}
/* content */

/* media */
@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
  h1 {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 6.9px;
  }
}
@media screen and (max-width: 2000px) {
  body,
  .fullmenu {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/sources-background-l.webp);
  }
}
@media screen and (max-width: 1300px) {
  body,
  .fullmenu {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/sources-background-m.webp);
  }
}
@media screen and (max-width: 500px) {
  .hide {
    display: none;
  }
}
/* media */
